<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>fadeIn | CSS3 Animation Library</title>
	<link rel="stylesheet" href="../../style.css">
	<link rel="stylesheet" href="ani.css">
</head>
<body>
	<h1>CSS3 Animation Library</h1>
	<dl class="list">
		<dt><h2>fadeIn</h2></dt>
		<dd>
			<p>Description: the element fade to show</p>
			<p>Usage: add class name .fadeIn to element.</p>
		</dd>
		<dd class="src">
			<h4>Less Function name: .fadeIn(duration)</h4>
			<dl>
				<dt>duration</dt>
				<dd>
					<p><b>Type:</b> string, the duration time this animation used</p>
					<p><b>Default: </b> 0.5s</p>
				</dd>
			</dl>
		</dd>
	</dl>

	<h2>Demo:</h2>
	<div>
		<div class="elm fadeIn"></div>
	</div>

	<!-- <h2>Try it yourself:</h2>
	<p><a href="javascript:void(0)" target="_blank">jsFiddle Link</a></p> -->
</body>
</html>