<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Animation-name | CSS3 Animation Library</title>
	<link rel="stylesheet" href="../../style.css">
	<link rel="stylesheet" href="ani.css">
</head>
<body>
	<h1>CSS3 Animation Name</h1>
	<dl class="list">
		<dt>Animation name</dt>
		<dd>
			<h3>Class name: .animationName</h3>
			<p>Description: </p>
			<p>Usage: </p>
		</dd>
		<dd class="src">
			<h4>Func name: animationName(param1, param2)</h4>
			<dl>
				<dt>param1</dt>
				<dd>type: [number, string], what about it; default value: ?</dd>
				<dt>param2</dt>
				<dd>type: [number, string], what about it; default value: ?</dd>
			</dl>
		</dd>
	</dl>

	<h2>Demo:</h2>

	<h2>Try it yourself:</h2>
	<p><a href="javascript:void(0)" target="_blank">jsFiddle Link</a></p>
</body>
</html>